InsurCloud.Rate/Quote/QuoteService/RulesLib/Service References/VehicleDriverAssignmentService/VehDrvAssignmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehDrvAssignmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CorPolicy" />
      <xsd:import schemaLocation="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CorPolicy.MarketingCRM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehDrvAssignmentService_SetVehDrvAssignments_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVehDrvAssignments" />
  </wsdl:message>
  <wsdl:message name="IVehDrvAssignmentService_SetVehDrvAssignments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVehDrvAssignmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehDrvAssignmentService_SetVehDrvAssignmentsSpecify_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVehDrvAssignmentsSpecify" />
  </wsdl:message>
  <wsdl:message name="IVehDrvAssignmentService_SetVehDrvAssignmentsSpecify_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVehDrvAssignmentsSpecifyResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehDrvAssignmentService">
    <wsdl:operation name="SetVehDrvAssignments">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignments" message="tns:IVehDrvAssignmentService_SetVehDrvAssignments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignmentsResponse" message="tns:IVehDrvAssignmentService_SetVehDrvAssignments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVehDrvAssignmentsSpecify">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignmentsSpecify" message="tns:IVehDrvAssignmentService_SetVehDrvAssignmentsSpecify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignmentsSpecifyResponse" message="tns:IVehDrvAssignmentService_SetVehDrvAssignmentsSpecify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehDrvAssignmentService" type="tns:IVehDrvAssignmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetVehDrvAssignments">
      <soap:operation soapAction="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVehDrvAssignmentsSpecify">
      <soap:operation soapAction="http://tempuri.org/IVehDrvAssignmentService/SetVehDrvAssignmentsSpecify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehDrvAssignmentService">
    <wsdl:port name="BasicHttpBinding_IVehDrvAssignmentService" binding="tns:BasicHttpBinding_IVehDrvAssignmentService">
      <soap:address location="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>