InsurCloud.Rate/Rating/RatingWR/Service References/QuoteService/QuoteService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuoteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IQuoteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://quote.insurcloud.com/QuoteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://quote.insurcloud.com/QuoteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://quote.insurcloud.com/QuoteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CorPolicy" />
      <xsd:import schemaLocation="https://quote.insurcloud.com/QuoteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CorPolicy.MarketingCRM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuoteService_QuotePersonalAuto_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotePersonalAuto" />
  </wsdl:message>
  <wsdl:message name="IQuoteService_QuotePersonalAuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotePersonalAutoResponse" />
  </wsdl:message>
  <wsdl:message name="IQuoteService_EnoughToRate_InputMessage">
    <wsdl:part name="parameters" element="tns:EnoughToRate" />
  </wsdl:message>
  <wsdl:message name="IQuoteService_EnoughToRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnoughToRateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuoteService_ValidRisk_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidRisk" />
  </wsdl:message>
  <wsdl:message name="IQuoteService_ValidRisk_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidRiskResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuoteService">
    <wsdl:operation name="QuotePersonalAuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuoteService/QuotePersonalAuto" message="tns:IQuoteService_QuotePersonalAuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuoteService/QuotePersonalAutoResponse" message="tns:IQuoteService_QuotePersonalAuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnoughToRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuoteService/EnoughToRate" message="tns:IQuoteService_EnoughToRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuoteService/EnoughToRateResponse" message="tns:IQuoteService_EnoughToRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidRisk">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuoteService/ValidRisk" message="tns:IQuoteService_ValidRisk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuoteService/ValidRiskResponse" message="tns:IQuoteService_ValidRisk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuoteService" type="tns:IQuoteService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IQuoteService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuotePersonalAuto">
      <soap:operation soapAction="http://tempuri.org/IQuoteService/QuotePersonalAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnoughToRate">
      <soap:operation soapAction="http://tempuri.org/IQuoteService/EnoughToRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidRisk">
      <soap:operation soapAction="http://tempuri.org/IQuoteService/ValidRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuoteService">
    <wsdl:port name="BasicHttpBinding_IQuoteService" binding="tns:BasicHttpBinding_IQuoteService">
      <soap:address location="https://quote.insurcloud.com/QuoteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>